/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
|=================================================================================
|=================================================================================
|=================================================================================
|=================================================================================
|=================================================================================
|    BASE
|=================================================================================
*/
.sprt{ background:url("../img/sprite.png") top left no-repeat;  display: inline-block; vertical-align: middle;}
.icon-share{ width:45px; height:45px; background-position:-5px -5px; }
.icon-slideshare{ width:33px; height:34px; background-position:-5px -55px; }
.icon-linkedin{ width:33px; height:34px; background-position:-5px -94px; }





/*
|=================================================================================
|=================================================================================
|=================================================================================
|=================================================================================
|=================================================================================
|    LAYOUT
|---------------------------------------------------------------------------------
*/

body{
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #95BA79;
}

#header {
    overflow: hidden;
    background-color: #fff;
}

#header .container {
    margin-top: 34px;
}

.logo {
    float: left;
}

.logo > a {
}

.logo > a > img {
}


.share-list {
    float: right;
}

.share-list > li {
    display: inline-block;
    margin: 0 0 0 10px;
}

.share-list > li > a {
}

.share-list .sprt {
}

.share-list .icon-slideshare {
}

.share-list .icon-linkedin {
}


#header .color-bar {
    background-color: #95BA79;
    background-image: url(../img/header-bg.jpg);  background-repeat: no-repeat;  
    background-position: center -146px;
    min-height: 87px;
}


#header  nav {
}

#header .spec {
    color: #fff;
    display: block;
    margin: 24px 0 0 0;
    font-size: 1.7em;
    font-weight: 300;
}

.header-menu {
    text-align: right;
    margin: 0;
}

.header-menu > li {
    display: inline-block;
    margin-left: -.3em;
}

.header-menu a:link,
.header-menu a:visited{
    color: #fff;
    display: block;
    padding: 31px 20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 1.2em;
}

.header-menu a:hover{
    background-color: #679248;
}

.header-menu .active {
}

.header-menu .active > a {
    background-color: #7BAA59;
}


#main{
    background: url(../img/page-bg.jpg);
    padding: 0 0 30px;
}

.page-title{
    color: #4B6734;
    font-weight: 300;
    text-transform: lowercase;
    margin-bottom: 0.6em;
}

h2{
    color: #4B6734;
}

h3{color: #4B6734;}



#footer {
    background: url(../img/footer-bg.jpg) no-repeat center top;
    min-height: 220px;
}

#footer .container {
    padding-top: 30px;
}



#footer .share-lnk {
    color: #fff;
    font-weight: 700;
}

#footer .sprt {
}

#footer .icon-share {
}

.share-lnk .lb {
}



#footer address {
    color: #fff;
}


#footer small {
    display: block;
    border-top: #B6D3AF solid 1px;
    padding: 5px;
    color: #fff;
    font-size: 11px;
}


/* ==========================================================================
   *
   * mNNNNNNNNm     
   * y````````y   
   * y        s  
   * y        s  
   * y        s  
   * y        s  
   * d+++--+++d 
   * NMMN//MMMN  
   *
   *
   * PHONE ONLY !!!
   ========================================================================== */

@media all and (max-width: 768px) {

}/*/mediaquery*/

/* ==========================================================================
   *
   * 
   * +yyyyhhhhdddddddddms
   * sh-..............-Nd      mmddddddddddddddddddddddddddmm
   * sd`              .Md      M+                          /M
   * sd`              .Md      M+                          /M
   * sd`              .Md      M+                          /M
   * sd`              .Md      M+                          /M
   * yd`              .Md      M+                          /M
   * yd`              .Md   +  M+                          /M
   * yd`              .Md      MmddddddddddddddddddddddddddmM
   * yd.              .Md      mNNNNNNNNNNNNNNNNNNNNNNNNNNNNm
   * yd.              .Md      ```````````:dddddd/```````````
   * sdhdddddddmmmmmmmmNy                /dMMMMMMm+          
   *-------------------------------------------------------------------------
   * TABLET and  UP
   ========================================================================== */

@media all and (min-width: 768px) {

}/*/mediaquery*/

/* ==========================================================================
   *
   *
   * mmddddddddddddddddddddddddddmm
   * M+                          /M
   * M+                          /M
   * M+                          /M
   * M+                          /M
   * M+                          /M
   * M+                          /M
   * MmddddddddddddddddddddddddddmM
   * mNNNNNNNNNNNNNNNNNNNNNNNNNNNNm
   * ```````````:dddddd/```````````
   *           /dMMMMMMm+          
   *-------------------------------------------------------------------------
   * DESKTOP
   ========================================================================== */

@media all and (min-width: 980px) {

}/*/mediaquery*/

/* ==========================================================================
   *
   *
   * mmddddddddddddddddddddddddddddddddddddmm
   * M+                                    /M
   * M+                                    /M
   * M+                                    /M
   * M+                                    /M
   * M+                                    /M
   * M+                                    /M
   * MmddddddddddddddddddddddddddddddddddddmM
   * mNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNm
   * ````````````````:dddddd/````````````````
   *             /dMMMMMMMMMMm+          
   *-------------------------------------------------------------------------
   * RUGE DESKTOP
   ========================================================================== */

@media all and (min-width: 1281px) {

}/*/mediaquery*/

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}